<h3> Choose your payment method: </h3>
<%= f.radio_button(:paymentmethod, "Bank transfer", :required => true) %>
<%= f.label(:paymentmethod, "Bank transfer") %><br>
<%= f.radio_button(:paymentmethod, "Cash on delivery") %>
<%= f.label(:paymentmethod, "Cash on delivery") %>
