/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: arial;
}

a{
  text-decoration: none;
  color: #00457a;
  padding: 1px;
}

.header {
  background-image: url("http://res.cloudinary.com/angela2389/image/upload/v1473771827/racketshuttle_weeuut.jpg");
  background-size: cover;
  padding: 5px;
  margin: -10px;
}

.header h1 {
  font-size: 50px;
}

.navbar ul li{
  display: inline-block;
  padding: 4px;
  float: right;
}

.navbar-left {
  border: 1px solid black;
  background-color: #67c7f7;
}

.productoverview {
  display: flex;
}

.product {
    border: 1px solid black;
    flex: 1;
}
