/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: 'Hind', sans-serif;
}

a {
  text-decoration: none;
  color: #00457a;
  padding: 1px;
}

.topheader {
  padding: 1px;
  text-align: center;
}

.topheader h1 {
  font-size: 70px;
  font-weight: bold;
  color: #014984;
}

.productoverview {
  display: block;
  max-width: 1300px;
}

.product {
    display: inline-block;
    border: 1px solid black;
    flex: 1;
    width: 300px;
    max-height: 500px;
    margin: 1px;
    text-align: center;
    align-items: center;
}

.product img{
    max-width: 250px;
    max-height: 250px;
}

.showproduct{
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

.showproduct img{
    max-height: 400px;
}
.price {
  color: #4fd800;
}

.checkout {
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 10px;
  width: 150px;
  background-image:url(http://res.cloudinary.com/angela2389/image/upload/v1473930986/button_aqodw9.png);
  padding: 5px;
  text-align: center;
}

.checkout a {
  color: #000000;
  font-size: 15px;
}

.shoppingcart input[type="submit"]{
  margin-top: 10px;
  border-radius: 10px;
  width: 200px;
  background-image: url(http://res.cloudinary.com/angela2389/image/upload/v1473930986/button_aqodw9.png);
  padding: 5px;
  color: #000000;
  font-size: 15px;
  text-align: center;
}

input[type="submit"]{
  background-color: #B4DAF4;
  color: #000;
  text-align: center;
}

footer {
 position: absolute;
 font-size: 12px;
 margin-top: 10px;
}
