// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.categories {
  display: flex;
  align-content: stretch;
  width: 100%;
  margin: -20px 0px -35px 0px;
}

.rackets {
  flex-grow: 2;
}

.rackets a {
  text-decoration: none;
}

.racketslink {
  margin-right: 3px;
  border: 1px solid #00253a;
  border-radius: 3px;
  background-image: url(http://res.cloudinary.com/angela2389/image/upload/v1473838773/badmintonrackets2_kzhqgt.jpg);
  background-size: cover;
  height: 350px;
  color: #ffffff;
  text-align: center;
  font-size: 30px;
}

.shuttles {
  flex-grow: 1;
}

.shuttles a {
  text-decoration: none;
}

.shuttleslink {
  margin-right: 5px;
  border: 1px solid #00253a;
  border-radius: 3px;
  text-align: center;
  color: #ffffff;
  height: 350px;
  font-size: 30px;
  background-image: url(http://res.cloudinary.com/angela2389/image/upload/v1473839254/shuttles_wv8lff.jpg);
  background-size: cover;
}

.clothes {
  flex-grow: 1;
}

.clothes a {
  text-decoration: none;
}

.clotheslink {
  border: 1px solid #00253a;
  border-radius: 3px;
  background-image: url(http://res.cloudinary.com/angela2389/image/upload/v1473839807/clothespeter_ku2rh4.jpg);
  background-size: cover;
  height: 350px;
  text-align: center;
  color: #ffffff;
  font-size: 30px;
  margin-right: 5px;
}

.bags {
  flex-grow: 1;
}

.bags a {
  text-decoration: none;
}

.shoeslink {
  border: 1px solid #00253a;
  border-radius: 3px;
  background-image: url(http://res.cloudinary.com/angela2389/image/upload/v1478517356/sportshoes_nnpl8a.jpg);
  background-size: cover;
  height: 350px;
  text-align: center;
  color: #000000;
  font-size: 30px;
  margin-right: 5px;
}

.shoes {
  flex-grow: 1;
}

.shoes a {
  text-decoration: none;
}

.bagslink {
  border: 1px solid #00253a;
  border-radius: 3px;
  background-image: url(http://res.cloudinary.com/angela2389/image/upload/v1476872245/badmintonbags_ubhnrl.jpg);
  background-size: cover;
  height: 350px;
  text-align: center;
  color: #ffffff;
  font-size: 30px;
  margin-right: 5px;
}

.popular {
  border: 1px solid #b1c4cc;
  text-align: center;
  margin: 0 auto;
  background-color: #dae7ef;
  margin-bottom: 2px;
}

.popular h1 {
  color: #01457D;
}

.popularproducts {
  display: inline-block;
  border: 1px solid #00253a;
  border-radius: 3px;
  flex: 1;
  width: 300px;
  max-height: 500px;
  text-align: center;
  align-items: center;
  background-color: #fff;
  margin-left: 15px;
}

.popularproducts img{
    max-width: 250px;
    max-height: 250px;
}
