// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.Categories {
  display: flex;
  align-content: stretch;
  width: 100%;
  margin: -20px 0px -30px 0px;
}

.Rackets {
  flex-grow: 2;
}

.RacketsLink {
  border: 1px solid black;
  background-image: url(http://res.cloudinary.com/angela2389/image/upload/v1473838773/badmintonrackets2_kzhqgt.jpg);
  background-size: cover;
  height: 200px;
  color: #ffffff;
  text-align: center;
  font-size: 30px;
}

.Shuttles {
  flex-grow: 1;
}

.ShuttlesLink {
  border: 1px solid black;
  text-align: center;
  color: #ffffff;
  height: 200px;
  font-size: 30px;
  background-image: url(http://res.cloudinary.com/angela2389/image/upload/v1473839254/shuttles_wv8lff.jpg);
  background-size: cover;
}

.Clothes {
  flex-grow: 1;
}

.ClothesLink {
  border: 1px solid black;
  background-image: url(http://res.cloudinary.com/angela2389/image/upload/v1473839807/clothespeter_ku2rh4.jpg);
  background-size: cover;
  height: 400px;
  text-align: center;
  color: #ffffff;
  font-size: 30px;
  text-align: center;
  color: #ffffff;
  font-size: 30px;
}
