// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form {
  display: inline-block;
  margin-left: 10px;
}

.ordered-items{
  margin: 2px;
}

#formaddress {
  display: inline-block;
  height: 200px;
  vertical-align: top;
}

#deliveryaddress {
  display: inline-block;
  margin-left: 20px;
  height: 200px;
}
