<p id="notice"><%= notice %></p>

<div> <%= link_to "Rackets", products_rackets_path %> </div>
<div> <%= link_to "Shuttles", products_shuttles_path %> </div>
<div> <%= link_to "Clothes", products_clothes_path %> </div>
